.formula-box {
    margin: auto;
    width: 800px;
    padding: 25px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(black, 0.08);
    p {
        margin-top: 5px;
        color:black;
    }
}

.ans {
    margin: auto;
    .is-3 {
        color:black;
    }
    width: 800px;
    margin-bottom: 20px;
}


table {
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgba(black, 0.08);
    //width: 50%;
    text-align: center;
}

.random {
    display:flex;
    .button{
        margin-top: -10px;
        margin-left: 20px;
    }
}

.field button{
    background-color: indianred;
    color:white;
}