<div class="container">
    <div class="formula-box">
          <div class="random">
            <h3 class="title is-5">Enter a formula:</h3>
            <button class="button is-info" (click)="randomClick()">Randomize!</button>
          </div>
          <form (ngSubmit)="valueEntered()">
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Propositional Formula..." value="{{ randString }}" [(ngModel)]="randString">
            </div>
            <button class="button" type="submit">Enter</button>
          </div>
        </form>
        <p>
            {{ errorMsg }}
        </p>
      </div>
      <table class="table is-bordered is-striped is-hoverable" id="tbl" *ngIf="randString">
        <tbody>
          <th *ngFor="let h of header">
            {{h}}
          </th>
          <tr *ngFor="let row of table; let i = index" [attr.data-index]="i">
            <td *ngFor="let r of row; let j = index" [attr.data-index]="j">
              {{r}}
            </td>
          </tr>
        </tbody>
    </table>
    <div class="box ans" *ngIf = "!errorMsg && table">
        <h3 class="title is-3 has-text-centered">
            This formula comes out as: {{ correctAnswer }}
        </h3>
    </div>
    <div class="box ans" *ngIf = "!errorMsg && table">
      <h3 class="title is-3 has-text-centered">
          The order of operations goes: [{{ parseTree }}] (first operation being the outermost)
      </h3>
  </div>
</div>
