
.container {
    width: 800px;
}

p {
    color:white;
}

.is-highlighted{
    background-color: lightgray;
    color:black;
}

.random {
    display:flex;
    .button{
        margin-top: -10px;
        margin-left: 50px;
    }
}

.control i{
    margin-left: 5px;
}

table {
    margin: auto;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 4px;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgba(black, 0.08);
    //width: 50%;
    text-align: center;
}

.box h3 {
    white-space:pre-wrap;
    margin: auto;
}

.submission {
    margin-bottom: 30px;
    display:flex;
    h2 {
        margin-left: 10px;
        color:white;
    }
    input {
        position: absolute;
        width: 100%;
    }
    .input-check {
        color:green;
        z-index: 10;
        margin-top: 8px;
        margin-left: 168px;
    }
    .spn {
        width:200px;
        display: flex;
    }
    .wrong {
        color:red;
        z-index: 10;
        margin-top: 8px;
        margin-left: 168px;
    }
    .score {
        padding-top: 8px;
        padding-bottom:8px;
        position:absolute;
        right: 0;
    }
    button {
        background-color: indianred;
        color: white;
        border-color: black;
    }
    .btns{
        display:flex;
    }
    .nxtbtn {
        margin-left: 20px;
        button {
            background-color: grey;
        }
    }
}

.helpButton {
    display: flex;
    button {
        margin-left: 20px;
        margin-top: -5px;
    }
    h2 {
        color: white;
    }
}