<div class="container">
  <div class="box">
    <h3 class="title is-3">
      {{ question }}
    </h3>
  </div>
  <div class="submission">
    <form class="field is-grouped" (ngSubmit)="checkAnswer()">
      <p class="control">
        <span class="spn">
          <i class="material-icons input-check" *ngIf="userAnswer == correctAnswer.toString() && answerClicked">
            check
          </i>
          <i class="material-icons wrong" *ngIf="userAnswer != correctAnswer.toString() && answerClicked">
            close
          </i>
          <input class="input" type="text" placeholder="Answer..." [(ngModel)]="userAnswer" name="user" [disabled]="answerClicked" [ngClass]="{'is-success': userAnswer == correctAnswer.toString() && answerClicked, 'is-danger': userAnswer != correctAnswer.toString() && answerClicked}">
        </span>
      </p>
      <div class="control">
        <div class="btns">
          <button class="button" type="submit">
            Enter
          </button>
          <div class="nxtbtn">
            <button class="button" (click)="generateRandomQuestion()" *ngIf="answerClicked">
              Next Question ->
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="box score">
      Score: {{ currentScr }} / {{ totalScr }}
    </div>
  </div>
  <div class="helpButton">
    <h2 class="title is-5">
      Need a hint?
    </h2>
    <button class="button is-info" (click)="hintButton()">Show / hide truth table</button>
  </div>
</div>
<table class="table is-bordered is-striped is-hoverable" id="tbl" *ngIf="hintRequired">
  <tbody>
    <th *ngFor="let h of header">
      {{h}}
    </th>
    <tr *ngFor="let row of truth; let i = index" [attr.data-index]="i" [ngClass]="{'is-selected': i == 100}">
      <td *ngFor="let r of row; let j = index" [attr.data-index]="j" [ngClass]="{'is-highlighted': i == rowNum}">
        {{r}}
      </td>
    </tr>
  </tbody>
</table>