.option {
    display: flex;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
    cursor:pointer;
    border-radius: 5px;

    width: 600px;

    background:white;

    &:hover {
        background: #ddd;
    }
}


.option .check-box {
    height: 50px;
    width: 50px;

    i.material-icons {
        font-size: 25px;
    }
}

.title.completed .check-box {
    background: rgb(11, 223, 170);
    border-color: rgb(11, 223, 170);

    i.material-icons {
        opacity: 1;
    }
}

.option-chosen{
    display: flex;
    color:white;
    padding: 20px;
    background:  green;
    margin-top: 30px;
    cursor:pointer;
    border-radius: 5px;

    width: 600px;

    &:hover {
        background:green;
    }
}
.option-chosen .check-box {
    height: 50px;
    width: 50px;

    i.material-icons {
        font-size: 25px;
    }
}

.wrong-chosen{
    display: flex;
    color:white;
    padding: 20px;
    background:  red;
    margin-top: 30px;
    cursor:pointer;
    border-radius: 5px;

    width: 600px;

    &:hover {
        background:red;
    }
}
.wrong-chosen .check-box {
    height: 50px;
    width: 50px;

    i.material-icons {
        margin-top: 3px;
        font-size: 30px;
    }
}