<div class="container">
    <div class="option-list">
        <h2 class="title is-3 has-text-centered" *ngFor="let h of answers"  (click)="!answerChosen && answerClick(h)" >
            <div [ngClass]="{'option-chosen': answerStates[h] && correctChosen, 'option': !answerStates[h], 'wrong-chosen' : answerStates[h] && !correctChosen }">
                <ng-template [ngIf]="answerStates[h]" [ngIfElse]="none">
                    <ng-template [ngIf]="correctChosen" [ngIfElse]="none">
                        <div class="check-box">
                            <i class="material-icons">
                                check_box
                            </i>
                        </div>
                    </ng-template>
                    <ng-template #none>
                        <div class="check-box">
                            <i class="material-icons">
                                close
                            </i>
                        </div>
                    </ng-template>
                </ng-template>
                <ng-template #none>
                    <div class="check-box">
                        <i class="material-icons">
                            check_box_outline_blank
                        </i>
                    </div>
                </ng-template>
                <div>
                    {{ h }}
                </div>
            </div>
        </h2>
    </div>
</div>