<section class="heading-section">
    <h1 class="title is-1 has-text-centered"><a routerLink="/">Logic Tool</a></h1>
    <nav class="breadcrumb is-large is-centered" aria-label="breadcrumbs">
      <ul>
        <li routerLinkActive="is-active"><a routerLink='/flash-card'><i class="material-icons">quiz</i>Flash Cards</a></li>
        <li routerLinkActive="is-active"><a routerLink="/tablequestions"><i class="material-icons">table_rows</i>Truth Table Questions</a></li>
        <li routerLinkActive="is-active"><a routerLink="/helper"><i class="material-icons">info</i>Question Helper</a></li>
        <li routerLinkActive="is-active"><a routerLink='/admin'><i class="material-icons">person</i>Admin</a></li>
      </ul>
    </nav>
  </section>
<router-outlet></router-outlet>
