.box {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    p {
        color:black;
        margin-top: 5px;
    }
}

.field label {
    color:black;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    height: 50px;
}

button {
     background-color: indianred;
     color: white;
}

.sub {
    .control button {
        margin-left: 50px;
    }
}
