<div class="container">
    <div class="box" *ngIf="!loginPassed">
        <div class="field">
            <label class="label"><h3 class="title is-5">Login here:</h3></label>
            <form class="control" (ngSubmit)="validateLogin()">
                <input class="input is-info" type="text" placeholder="Username..." [(ngModel)]="username" name="user">
                <input class="input is-info" type="password" placeholder="Password..." [(ngModel)]="password" name="pass">
              <button class="button" type="submit">
                Enter
              </button>
            </form>
          </div>
            <p>
                {{ errorMsg }}
            </p>
    </div>
    <div class="box" *ngIf="loginPassed">
        <form class="control" (ngSubmit)="addQuestion()">
            <label class="label">Question: </label>
        <div class="control">
            <textarea class="textarea" placeholder="Question..." [(ngModel)]="question" name="q"></textarea>
        </div>
        <label class="label">Correct Answer: </label>
        <div class="control">
            <input class="input" type="text" placeholder="Correct answer..." [(ngModel)]="correct" name="c">
        </div>
        <label class="label">Wrong Answer 1: </label>
        <div class="control">
            <input class="input" type="text" placeholder="Wrong answer..." [(ngModel)]="wrong1" name="w1">
        </div>
        <label class="label">Wrong Answer 2: </label>
        <div class="control">
            <input class="input" type="text" placeholder="Wrong answer..." [(ngModel)]="wrong2" name="w2">
        </div>
        <label class="label">Wrong Answer 3: </label>
        <div class="control">
            <input class="input" type="text" placeholder="Wrong answer..." [(ngModel)]="wrong3" name="w3">
        </div>
        <label class="label">Select difficulty: </label>
        <div class="sub">
            <div class="control">
                <div class="select">
                <select [(ngModel)]="difficulty" name="d">
                    <option>Basic</option>
                    <option>Intermediate</option>
                    <option>Hard</option>
                </select>
                </div>
                <button class="button" type="submit">
                    Add Question
                </button>
            </div>
        </div>
        </form>
        <p>
            {{ errorMsg }}
            {{ message }}
        </p>
    </div>
</div>