.container {
    display: flex;
    margin: auto;
}

.uuid {
    margin: auto;
    width: 40%;
    .control {
        display: flex;
    }
    button {
        margin: auto;
        margin-left: 3px; 
    }

}

.loading {
    align-items: center;
    text-align: center;
    margin: auto;
}

h2 {
    color: white;
}

.label {
    color:white;
}

.flashcard {
    margin-right: 50px;
}

.flashcard .box {
    width: 500px;
    height: 500px;
    background-color: indianred;
    h2 {
        color:white;
        text-shadow: 0px 1px 2px rgba(black, 0.5);
    }
}

.answer {
    align-self: center;
    margin-top: 100px;
}

.button {
    background: indianred;
    //position: absolute;
    color:white;
    margin-top: 50px;
    margin-left: 50px;
    border: indianred;
}
.cardmenu {
    margin: auto;
    .box {
        cursor:pointer;
        padding: 70px;
    }
    .flashcard-corr .box{
        background-color:green;
    }
    .flashcard-wrong .box{
        background-color:red;
    }
    .flashcard-unans .box{
        background-color:grey;
    }
}

.modal-content .box {
    cursor:auto;
    h3 {
        color: black;
    }
}

.diffSelect {
    .box {
        padding:50px;
    }
}

.startButton button {
    display:flex;
    margin: auto;
}

.next {
    margin-left: 100px;
}