<div class="container">
    <div *ngIf="haveStarted && !isMenu">
        <div class="flashcard">
            <div class="box">
                <h2 class="title is-3 has-text-centered">{{ currentQuestion }}</h2>
                <div class="answer">
                    <h2 class="title is-3 has-text-centered">{{ correctAnswer }}</h2>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button is-large" (click)="cardMenu()">
                &lt;- Back
            </button>
            <div *ngIf="correctAnswer != ''">
                <button class="button is-large next" (click)="nextQuestion()">
                    Next ->
                </button>
            </div>
        </div>
    </div>
    <div class="uuid" *ngIf="!haveStarted && !isMenu && child">
        <div class="field">
            <label class="label">Been here before? Enter your Flash Card ID: </label>
            <form class="control" (ngSubmit)="startFlashCards(1)">
              <input class="input" type="text" placeholder="Flash Card ID" [(ngModel)]="idString" name="id">
              <button class="button" type="submit">
                Enter
              </button>
            </form>
            <p class="help">Should be 24 alphanumeric characters long</p>
            <p>
                {{ errorMsg }}
            </p>
          </div>
          <h2 class="title is-1 has-text-centered">OR</h2>
          <div class="startButton" *ngIf="child.questionsList">
            <button class="button is-large" (click)="startFlashCards(0)">
                Start New Flash Cards
            </button>
          </div>
    </div>
    <div class="cardmenu" *ngIf="isMenu && !haveStarted">
        <div class="columns is-centered">
            <div class="flashcard-corr">
                <div class="column">
                <div class="box" (click)="resumeFlashCards(0)">
                    <h2 class="title is-3 has-text-centered">Correct Cards</h2>
                    <div class="answer">
                        <h2 class="title is-3 has-text-centered">{{ correctNum }}</h2>
                    </div>
                </div>
            </div>
            </div>
            <div class="flashcard-wrong">
                <div class="column">
                <div class="box" (click)="resumeFlashCards(1)">
                    <h2 class="title is-3 has-text-centered">Wrong Cards</h2>
                    <div class="answer">
                        <h2 class="title is-3 has-text-centered">{{ wrongNum }}</h2>
                    </div>
                </div>
            </div>
            </div>
            <div class="flashcard-unans">
                <div class="column">
                <div class="box" (click)="resumeFlashCards(2)">
                    <h2 class="title is-3 has-text-centered">Unanswered Cards</h2>
                    <div class="answer">
                        <h2 class="title is-3 has-text-centered">{{ unansweredNum }}</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div [ngClass]="showModal ? 'modal is-active' : 'modal'">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h3 class="title is-4 has-text-centered">
                        Copy and save your Flash Card ID (Please wait if not immediately shown):
                        <br>
                        {{ savedID }}
                    </h3>
                </div>
            </div>
            <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
          </div>
          <button class="button is-large" (click)="exitFlashCards()">EXIT (and collect your Flash Card ID)</button>
    </div>
    <app-question (answerEvent)='getAnswer($event)'></app-question>
</div>

<div class="container" *ngIf="!child">
        <h2 class="title is-3 has-text-centered loading">Loading... Please wait</h2>
</div>