h2 {
    color:white;
}
p {
    font-size: large;
}

.first {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin: auto;
}

.columns {
    margin: auto;
    text-align: center;
}

.box p {
    color: black;
}

.bottom {
    margin-bottom: 40px;
}