<div class="container">
    <div class="first">
        <h2 class="title is-2">About the site</h2>
        <p>
            This web application is designed to help first year students with their Fundamental<br>
            Mathematical Principles module in learning propositional logic. Please refer to the table below<br> to see which symbols should be used for the
            different connectives.
        </p>
    </div>
    <table class="table is-bordered is-striped is-hoverable" id="tbl">
        <tbody>
          <th>Logic connectives</th>
          <th>Logic Tool symbol</th>
          <th>Description</th>
          <tr>
              <td>NOT</td>
              <td>~</td>
              <td>tilde</td>
          </tr>
          <tr>
              <td>OR</td>
              <td>V</td>
              <td>capital letter v</td>
          </tr>
          <tr>
            <td>AND</td>
            <td>&</td>
            <td>ampersand</td>
          </tr>
          <tr>
              <td>IMPLIES</td>
              <td>-></td>
              <td>hyphen, greater than</td>
          </tr>
          <tr>
              <td>BI-IMPLIES</td>
              <td>&#60;-></td>
              <td>less than, hyphen, greater than</td>
          </tr>
        </tbody>
    </table>
    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <h3 class="title is-3"><i class="material-icons">quiz</i> Flash Cards</h3>
                <p>This page is where users can give their Flash Card ID, and resume their flash card session.
                    If you don't have a Flash Card ID, click the 'Start New Flashcards' button. Feel free to at any time
                    press the 'EXIT' button and return later with your Flash Card ID.
                </p>
            </div>
            <div class="box bottom">
                <h3 class="title is-3"><i class="material-icons">info</i> Question Helper</h3>
                <p>This section can be used to help students in case they answered questions incorrectly 
                    and don't know why it was incorrect. Simply copy the formula in question, and paste it into 
                    the box. Or, you could use the randomize feature to randomly generate a formula.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h3 class="title is-3"><i class="material-icons">table_rows</i> Truth Table Questions</h3>
                <p>This section contains 3 different base questions on the subject of truth tables. 
                    Each question will be about a randomly generated formula, meaning questions will always be different. 
                    <br><br>
                    Users should try to complete each question by drawing out their own truth tables, and checking it amongst 
                    the truth table which is behind the 'hint' button.
                    <br><br>
                    Users are given a point to their score if they correctly answer a question.
                </p>
            </div>
            <div class="box bottom">
                <h3 class="title is-3"><i class="material-icons">person</i> Admin</h3>
                <p>The admin section should be accessed by permitted users with a username and password 
                    in order to add more flash cards to the Flash Cards section.
                </p>
            </div>
        </div>
      </div>
</div>