/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass';

html {
    background-color: rgb(50,50,50);
    color: white;
}

p {
    color:white;
}

.heading-section {
    //background: linear-gradient(to right,rgb(1, 227, 170), rgb(74, 210, 240));
    background: indianred;
    padding: 100px;

    h1.title {
        margin-top: -20px;
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black, 0.5);
    }

    nav {
        margin-bottom: -60px;
        ul li a {
            color: white;
            font-weight: bold;
            text-shadow: 0px 1px 2px rgba(black, 0.3);
        }
        .material-icons {
            margin-right: 5px;
        }
    }
    margin-bottom: 20px;
}



